# Aturan Utama (Node.js & Global)
node_modules/
**/node_modules/
.env
.env.*
*.env
.idea/
**/.idea/

# Aturan Tambahan dari Project Flutter (Folder App)
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
*.iml
*.ipr
*.iws

# Flutter / Dart Specific
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/
**/coverage/

# Android & iOS Build Artifacts
**/android/app/debug
**/android/app/profile
**/android/app/release
app.*.symbols
app.*.map.json